$svg-common 
	background url("sprite.svg") no-repeat

$menu--closed
	@extend $svg-common
	background-position 0 0

$menu--closed-dims
	width 160px
	height 215px

$menu--open
	@extend $svg-common
	background-position 0 63.42182890855457%

$menu--open-dims
	width 160px
	height 160px

$page--cat
	@extend $svg-common
	background-position 0 100%

$page--cat-dims
	width 124px
	height 124px

