$svg-common 
	background url("sprite.svg") no-repeat

$menu--closed
	@extend $svg-common
	background-position 0 0
	width 16px
	height 16px

$menu--open
	@extend $svg-common
	background-position 0 20%
	width 16px
	height 16px

$page--cat
	@extend $svg-common
	background-position 0 100%
	width 64px
	height 64px

